<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <context-param>
    <param-name>period</param-name>
    <param-value>10000</param-value>
  </context-param>
  
  
  <servlet>
    <servlet-name>PushServlet</servlet-name>
    <servlet-class>com.loveplusplus.food.servlet.PushServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PushResultServlet</servlet-name>
    <servlet-class>com.loveplusplus.food.servlet.PushResultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.loveplusplus.food.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WeixinServlet</servlet-name>
    <servlet-class>com.loveplusplus.weixin.servlet.WeixinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProvinceServlet</servlet-name>
    <servlet-class>com.loveplusplus.food.servlet.ProvinceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>com.loveplusplus.food.servlet.CityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountyServlet</servlet-name>
    <servlet-class>com.loveplusplus.food.servlet.CountyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>com.loveplusplus.food.servlet.InfoServlet</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>WeixinHenanProgrammerServlet</servlet-name>
    <servlet-class>com.loveplusplus.food.servlet.WeixinHenanProgrammerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WeixinAndroidServlet</servlet-name>
    <servlet-class>com.loveplusplus.food.servlet.WeixinAndroidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushServlet</servlet-name>
    <url-pattern>/api/push</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PushResultServlet</servlet-name>
    <url-pattern>/api/push_callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/api/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeixinServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProvinceServlet</servlet-name>
    <url-pattern>/api/province</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/api/city</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountyServlet</servlet-name>
    <url-pattern>/api/county</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/api/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeixinHenanProgrammerServlet</servlet-name>
    <url-pattern>/api/weixin_henan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeixinAndroidServlet</servlet-name>
    <url-pattern>/api/weixin_android</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>